body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff; /* Branco */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 370px;
    text-align: center;
}

.login-container h2 {
    color: #00008b; /* Azul escuro */
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #00008b; /* Azul escuro */
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 10px;
}

.remember-me label {
    color: #00008b; /* Azul escuro */
    font-size: 14px;
}

button {
    width: 55%;
    padding: 10px;
    background-color: #00008b; /* Azul escuro */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

button:hover {
    background-color: #0000cd; /* Azul escuro mais claro */
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.forgot-password {
    margin-top: 20px;
}

.forgot-password a {
    color: #00008b; /* Azul escuro */
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}
