/* Reset Básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f5f5f5;
}

/* Fundo da Página */
.imagem-fundo {
  background-image: url('img/home_hero_background.png');
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
}



/* Cabeçalho */
.cabecalho {
  background-color: #0291d3;
  color: #fff;
  padding: 6px 0;
}

.grid-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: bold;
  font-size: 12px;
  justify-content: center;
}

.info img {
  width: 23px;
}

/* Menu de Navegação */
.menu {
  background-color: #0a3c79;
  padding: 8px 0;
}

.grid-nav {
  margin-left: 8%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 20px;
}

.logo img {
  max-width: 250px;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  transition: 0.3s;
  white-space: nowrap;
}

.nav-list a:hover {
  opacity: 0.7;
}

/* Hero */
.quem-somos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 132px;
  margin-left: 9%;
  margin-bottom: 20px;
  width: 90%;
  border-radius: 10px;
}

.quem-somos h1 {
  font-family: 'Rubik Doodle Shadow';
  font-weight:500;
  font-size: 68px;
  color: #0a3c79;
  width: 100%;
  padding: 0%;

}

.quem-somos h4 {
  margin-top: 7px;
  font-family: 'Roboto';
  font-weight:500;
  font-size: 16.7px;
  color: #0a3c79;
  max-width: 505px;
  width: 100%;
  padding: 0%;
}

.quem-somos-info {
  display: flex;
  align-items: center; /* Alinha a imagem e o h4 horizontalmente */
}

.quem-somos-lacen {
  width: 29px; /* Tamanho fixo para a imagem */
  margin-right: 7px; /* Espaçamento entre a imagem e o texto */
}

.quem-somos-lacen + h4 {
  font-family: 'Roboto';
  font-weight:500;
  text-transform: uppercase;
  font-size: 14px;
  color: #0a3c79;
  white-space: nowrap; /* Impede que o texto quebre a linha */
}


/* Container Padrão */
.container {
  max-width: 5000px;
  padding: 0 15px;
}


.separador {
  display: flex;
  justify-content: center; /* Centraliza o texto horizontalmente */
  align-items: center; /* Centraliza o texto verticalmente */
  width: 100%; /* Ocupa toda a largura disponível */
  background-color: #0a3c79; /* Cor de fundo (pode ajustar conforme necessário) */
  padding: 15px 0; /* Espaçamento acima e abaixo */
}

.separador p {
  color: white; /* Cor do texto */
  font-weight:normal; /* Deixa o texto em negrito */
  font-size: 45px; /* Tamanho do texto */
}


.bar-container {
  width: 100%;
  display: flex;
}
.bar {
  flex: 1;
  height: 5px;
}
.green {
  background-color: #007c24;
}
.yellow {
  background-color: #f4b802;
}
.blue {
  background-color: #0291d3;
}

/* Responsividade */
@media (max-width: 768px) {
  .grid-nav {
      margin-left: 0%;
      grid-template-columns: 1fr;
      text-align: center;
  }

  .nav-list {
      flex-direction: column;
      gap: 15px;
  }

  .quem-somos {
      margin-left: 2%;
      padding: 10px;
  }
  .quem-somos h1 {
      font-size: 30px; /* Ajuste o tamanho do h1 para telas pequenas */
  }
  .quem-somos h4 {
      font-size: 14px; /* Ajuste o tamanho do h4 para telas pequenas */
  }
  .quem-somos-lacen + h4 {
      margin-top: 1px;
      font-size: 14px; /* Ajuste o tamanho do h4 para telas pequenas */
  }
  .quem-somos-lacen {
      width: 18px; /* Ajuste o tamanho da imagem para telas pequenas */
  }
}
